doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  menubar
    div.menubar
        img(src="http://www.cablecorporation.co.za/wp-content/uploads/2017/09/dummy-logo.png")
  body
    block content
