body {
  padding: 50px;
  font: 14px "Courier New", Helvetica, Arial, sans-serif;
  background-color: #4f845b;
}

a {
  color: #00B7FF;
}

.btn{
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: black;
}
.menubar{
    float: left;
    width: 100%;
    border-radius: 15px;
    background-color: yellow;
    margin-bottom: 5em;
}